body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1000px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.box h3 {
    font-size: 28px;
}

.box p {
    font-size: 18px;
}

.content-box {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
